body {
    background-color: lightblue;
}

ul {
    list-style-type: none;
    margin: -8px;
    padding: none;
    overflow: hidden;
    background-color:#4A3B7F;
}

li {
    float: right;
}
a{
	text-decoration:none;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: #423A68;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
	color: white;
    position: absolute;
    background-color: #423A68;
    min-width: 160px;
    box-shadow: #423A68;
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
background-color: #f1f1f1;
color: black
}

.dropdown:hover .dropdown-content {
    display: block;
}

.Firstheadline  {
    text-align: center;
	font-family: 'Volkhov', serif;
	font-size:1.5em;
	color:#4A3B7F;
	font-weight: bold;
}

.middleparagraph{
	text-align: center;
	padding-left :25%;
	padding-right: 25%;
	font-family:  'Bree Serif', serif;
	font-size: 1.2em;
}
